body {background-color: rgb(163, 163, 163);}
h2 {color: rgba(255, 94, 0, 0.678);
font-family: verdana;
font-size: 100%;
}
p {
color: rgba(138, 1, 1, 0.678);
font-family: courier;
font-size: 100%;
}
pre {
border: 2px solid powderblue;
padding: 30px;
}
